{% extends "index2.html" %}
{% block content2 %}

                <div style="position: absolute; left: 89%; top: 60%; z-index: 9999;">
                <button id="change_button" onclick="myFunction() ">Weeks</button>
                <button id="change_page_button" onclick="nextFunction() ">Slide</button>
            </div>

        <img src="{{ url_for('static', filename='images/12.png') }}" class="image" alt="" width="1116px" height="808px">

                           <div id="side-button_m"  style="position: absolute;height: 360px;width: 1116px;bottom: auto;top: 50px;left: 0%;">


                           <div id="side-y" style="height: 200px; width: 300px; ; margin-left: 30px; margin-right: auto; margin-top: 175px;">
                               <canvas id="myChart1" style="width: 100%; max-width: 1100px; height: 100%; max-height: 1100px; "></canvas>
                               <script>
                                   var xValues = ["Building", "Floor 3", "Floor 2","Floor 1" ];
var yValues = [122349, 137801, 117276,146532 ];
var yValues1 = [118632, 132749, 125468, 136532];
var barColors = ["DarkGreen"];

new Chart("myChart1", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    },{
        backgroundColor: 'LimeGreen',
      data: yValues1
    }]
  },
    options: {
      plugins: {
            legend: {
              display: false,
            },
          },
      indexAxis: 'y',
  scales: {
          x: {
        beginAtZero: false,

      display: false,
                  grid: {
            display: false
          },

    },

    y: {
        beginAtZero: false,

      display: true,

      title: {
        display: false,

      },

    }
  }
}
});
                               </script>
                           </div>


                                           <div id="side-x" style="height: 222px; width: 1000px; ; margin-left: auto; margin-right: 60px; margin-top: 105px;">
                <canvas id="myChart" style="width: 100%; max-width: 1200px; height: 100%; max-height: 800px; "></canvas>
 <script>
     var xValues = ["Jan", "Feb", "Mar", "Apr",];
var yValues = [122349, 137801, 117276, 127518, 129944, 138742, 140889, 141937, 125615, 138289, 142486, 112558];
var yValues1 = [118632, 132749, 125468, 127382, 138901, 134590, 136732, 118941, 144265, 111826, 141704, 115459];
var yValues2 = [122547, 123892, 132436, 127149, 141300, 136487, 113273, 133784, 120590, 138805, 130611, 117908];
var yValues3 = [124789, 119352, 134620, 121048, 139127, 142398, 117456, 133742, 127509, 135822, 138205, 111734];
var barColors = ["DarkGreen"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
        label: "Building",
      backgroundColor: barColors,
      data: yValues

    },{
        label: "Floor 3",
      backgroundColor: 'LimeGreen',
      data: yValues2
    },
        {
            label: "Floor 2",
      backgroundColor: 'DeepSkyBlue',
      data: yValues3
    },
        {
            label: "Floor 1",
        backgroundColor: 'Gold',
      data: yValues1
    }]
  },
    options: {
  scales: {
          x: {
        beginAtZero: false,

      display: true,
                  grid: {
            display: false
          },

    },

    y: {
        beginAtZero: false,

      display: true,

      title: {
        display: false,

        text: 'value',

      },

    }
  }
}
});

                    </script>

            </div>

            </div>
{% endblock %}